<div class="d-flex justify-content-center m-5  opacity">
   <div class="col-xl-12 mt-5">

      
      <table class="table white">
         <thead>
            <tr>
               <th scope="col">Produit</th>
               <th scope="col">Appelation</th>
               <th scope="col">Date</th>
               <th scope="col">Type</th>
               <th scope="col">Description</th>
               <th scope="col">Prix</th>
               <th scope="col"></th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <th><img src="~/Content/MDB/css/Images/Reve1.jpg" alt="thumbnail" class="img-thumbnail" style="width: 500px ;height:150px" /></th>

               <th>Cheval</th>
               <th>11/04/2019</th>
               <th>Magique</th>
               <th>Rêver de la personne que l’on aime est un rêve fréquent. Les femmes comme les hommes retrouvent dans leurs rêves les êtres aimés et vivent avec eux des histoires parallèles fortes souvent, cocasses parfois mais toujours intéressantes au niveau de la symbolique.</th>
               <th>500$</th>
               <th><a href="/users/new" class="btn peach-gradient float-right">Contacter le réveur</a></th>
            </tr>
            <tr>
               <th><img src="~/Content/MDB/css/Images/Reve1.jpg" alt="thumbnail" class="img-thumbnail" style="width: 150px ;height:150px" /></th>

               <th>Cheval</th>
               <th>11/04/2019</th>
               <th>Magique</th>
               <th>Rêver de la personne que l’on aime est un rêve fréquent. Les femmes comme les hommes retrouvent dans leurs rêves les êtres aimés et vivent avec eux des histoires parallèles fortes souvent, cocasses parfois mais toujours intéressantes au niveau de la symbolique.</th>
               <th>500$</th>
               <th><a href="/users/new" class="btn peach-gradient float-right">Contacter le réveur</a></th>
            </tr>
            <tr>
               <th><img src="~/Content/MDB/css/Images/Reve1.jpg" alt="thumbnail" class="img-thumbnail" style="width: 150px ;height:150px" /></th>

               <th>Cheval</th>
               <th>11/04/2019</th>
               <th>Magique</th>
               <th>Rêver de la personne que l’on aime est un rêve fréquent. Les femmes comme les hommes retrouvent dans leurs rêves les êtres aimés et vivent avec eux des histoires parallèles fortes souvent, cocasses parfois mais toujours intéressantes au niveau de la symbolique.</th>
               <th>500$</th>
               <th><a href="/users/new" class="btn peach-gradient float-right">Contacter le réveur</a></th>
            </tr>
         </tbody>
      </table>
      

      <br />
   


   </div>
</div>

 