<div class="d-flex justify-content-center m-5">
  <div class="col-xl-6 mt-5">

<!-- Button trigger modal-->
<!-- Button trigger modal-->
<button id="btnmodal" hidden type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalConfirmDelete">Launch
  modal</button>

<!--Modal: modalConfirmDelete-->
<div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
       <h3> <p class="heading">Toujours pas inscrit ?</p></h3>
      </div>

      <!--Body-->
      <div class="modal-body">

       <h5>Pour créer une annonce, ou pour envoyer un message à un utilistateur n'oubliez pas de vous inscrire</h5>

      </div>

      <!--Footer-->
       
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: modalConfirmDelete-->


    <div class="card mt-5 opacity deep-orange-text ">
      <div class="card-header">
        <center>
          <h4>Création de compte</h4>
        </center>
      </div>
      <div class="card-body pl-5 pr-5">
        <br />
        <form action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token">
          <div class="form-group row">
            <label for="user_name" class="col-sm-2 col-form-label">Prénom :</label>
            <div class="col-sm-10">
              <div class="md-form mt-0">
                <input type="text" class="form-control" id="user_name" name="user[name]" placeholder="Prénom">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="user_familyName" class="col-sm-2 col-form-label">Nom :</label>
            <div class="col-sm-10">
              <div class="md-form mt-0">
                <input type="text" class="form-control" id="user_familyName" name="user[familyName]" placeholder="Nom">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="user_login" class="col-sm-2 col-form-label">Login :</label>
            <div class="col-sm-10">
              <div class="md-form mt-0">
                <input type="text" class="form-control" id="user_login" name="user[login]" placeholder="Utiliser votre mail personnel">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="user_password" class="col-sm-2 col-form-label">Mot de passe :</label>
            <div class="col-sm-10">
              <div class="md-form mt-0">
                <input type="password" class="form-control" id="user_password" name="user[password]" placeholder="Mot de passe 8-20">
              </div>
            </div>
          </div>
          <div class="actions">
            <input type="submit" name="commit" value="Valider mon inscription" class="btn btn-success float-right">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

<script>
$("#btnmodal").click();

</script>