<div class="d-flex justify-content-center m-5">
   <div class="col-xl-10 mt-5">

      <br />
      <br />
      <br />
      <br />
      <h1 class="deep-orange-text font-weight-bolder text-center">Bienvenue sur MyDream.com</h1>
      <div class="d-flex justify-content-center m-5">
         <a href="/listing" class="btn peach-gradient opacity text-white">Trouver un rêve</a>
      </div>
   </div>
</div>

  